.ipa-list__container {
    margin-top: 33px;
}

.ipa-list__buttons__container {
    display: flex;
    flex-direction: column;
}

.ipa-list__back {
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(192, 128, 8);
    font-weight: 800;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 33px;
}

.ipa-list__add-ipa {
    /* font-size: xX-large; */
    text-decoration: none;
    align-self: center;
    /* text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(192, 128, 8);
    font-weight: 800;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0); */
}

.fa-plus {
    /* margin-top: 22px; */
    border: none;
    font-size: 44px;
    color: rgb(10, 91, 95);
    text-shadow: rgb(221, 188, 1) 1px 5px 10px;
}

.ipa-list__left {
    margin-top: 2px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-content: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    color:burlywood;
}

.ipa-list__ipa-link__image__container {
    display: flex;
    align-self: center;
}

.ipaLabel {
    height: 99px;
    border-radius: 33%;
    margin: 0px 11px;
}

.ipa-list__ipa-link__name {
    color: rgb(192, 128, 8);
    text-decoration: none;
}

.ipa-list__ipa-link__brewery {
    color: rgb(230, 171, 64);
    text-decoration: none;
}

.ipa-list__edit-button {
    border: none;
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(130, 170, 36);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
}

.ipa-list__edit-button:hover {
    cursor: pointer;
}

.ipa-list__delete-button {
    border: none;
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(245, 73, 6);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
}

.ipa-list__delete-button:hover {
    cursor: pointer;
}

.ipa-list__crud-buttons {
    width: 116px;
    margin-bottom: 11px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-content: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
}
