.review-list__container {
    margin-top: 33px;
}

.review-list__buttons__container {
    display: flex;
    flex-direction: column;
}

.review-list__back {
    /* font-size: xX-large; */
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(192, 128, 8);
    font-weight: 800;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 33px;
}

.review-list__review__container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    margin-bottom: 3px;
}

.review-list__left {
    margin-top: 2px;
    padding: 7px;
    display: flex;
    color:burlywood;
}

.review-list__img__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 7px;
}

.review-list__review-link__image__container {
    display: flex;
    align-self: center;
}

.reviewLabel {
    height: 99px;
    border-radius: 33%;
    margin: 0px 11px;
}

.review-list__review-link__name {
    color: rgb(192, 128, 8);
    text-decoration: none;
}

.review-list__review-link__brewery {
    color: rgb(230, 171, 64);
    text-decoration: none;
}

.review-list__edit-button {
    border: none;
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(130, 170, 36);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
}

.review-list__delete-button {
    border: none;
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(245, 73, 6);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
}

.review-list__delete-button:hover {
    cursor: pointer;
}

.review-list__crud-buttons {
    width: 116px;
    margin-bottom: 11px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-content: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
}
