.splash-page__text {
    color: rgb(192, 128, 8);
    text-align: center;
}

.splash-page__welcome {
    margin-top: 33px;
    margin-bottom: 22px;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.7);
}

.good-cipa__image__container {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    padding: 83px 145px;
}

.splash-page__logo {
    border-radius: 11px;
}

.good-cipa {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
}

.splash-page__search-bar {
    display: flex;
    justify-content: center;
}

.splash-page__search {
    width: 70%;
    height: 33px;
    margin: 22px;
    padding: 3px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(192, 128, 8);
    color: bisque;
}

/* .splash-page__search:target {
    border: rgb(255, 241, 40);
} */

.splash-page-link {
    font-size: larger;
    color:burlywood;
    padding-left: 7px;
}

.splash-page__search-container {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    margin-bottom: 22px;
}

.splash-page__search-results {
    color:cadetblue;
    size: x-large;
}

.splash-page__disclaimer-container {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    margin-bottom: 22px;
}
