.profile-page__container {
    display: flex;
    justify-content: center;
}

.profile-buttons__container {
    width: 100%;
    margin-top: 11px;
    display: flex;
    justify-content: space-around;
}

.profile-page__crackedopen {
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(192, 128, 8);
    font-weight: 800;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 11px;
    padding-right: 11px;
    font-size: xx-large;
}

.profile-page__ipas {
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(192, 128, 8);
    font-weight: 800;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 11px;
    padding-left: 11px;
    font-size: xx-large;
}

.fridge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    height: 511px;
    width: 299px;
    background-size: cover;
    background-image: url('../images/fridge.jpg');
}

.cellar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    height: 511px;
    width: 299px;
    background-size: cover;
    background-image: url('../images/cellar.png')
}
