.footer__name-link {
    margin-right: 7px;
}

.footer__link {
    font-size: x-large;
    color: rgb(192, 128, 8);
    display: flex;
    justify-content: center;
}

.footer__icons {
    display: flex;
    justify-content: space-around;
}

footer {
    border-radius: 11px;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: flex-end;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer__designed-by {
    color: rgb(192, 128, 8);
    font-size: 22px;
    margin-right: 7px;
}

.footer__name {
    color: rgb(192, 128, 8);
    font-size: 33px;
    margin: 0;
}
