/* #root {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

footer {
    grid-row: 9 / span 2;

    align-self: center;
    grid-column: 1 / span 10;

    justify-self: center;
} */
