/* .modal-navigation {
    border: 0;
    text-decoration: underline;
    color: rgb(192, 128, 8);
    font-size: larger;
    background-color: rgba(0, 0, 0, 0);
} */
.nav-bar {
    border: 2px solid rgb(192, 128, 8);
    background-color: rgba(192, 128, 8, 0.4);
    padding: 7px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 11px;
}

li {
    list-style-type: none;
}

.nav-bar__login-signup {
    display: flex;
    align-items: center;
}

.nav__home-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(26, 59, 61);
    font-weight: 800;
    /* align-self: center; */
}

.nav__home-button__logo {
    height: 77px;
    border-radius: 50%;
    transition: 3s ease-in-out;
}

.nav__home-button__logo:hover {
    transform:rotate(360deg);
}


.nav__login-button {
    border: none;
    border-radius: 11px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(10, 67, 70);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
}

.nav__login-button:hover {
    cursor: pointer;
}

.nav__signup-button {
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(10, 67, 70);
    font-weight: 800;
    margin-left: 7px;
}

.profile-button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.profile-button:hover {
    cursor: pointer;
}

.fa-wine-bottle {
    color: rgb(42, 69, 70);
    /* height: 33px;
    width: 33px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    border: none;
    transition: 2s;
    transform: rotate(-33deg);
}

.fa-wine-bottle:hover {
    transform:rotate(45deg);
    box-shadow: 5px 0px rgb(255, 196, 0);
}


.profile-dropdown__user {
    color: rgb(26, 59, 61);
    font-weight: 800;
}

.profile-dropdown__email {
    color: rgb(26, 59, 61);
    font-weight: 800;
}

.profile-dropdown__logout {
    margin-top: 7px;
    text-decoration: none;
    text-align: center;
    text-shadow: rgb(184, 242, 245) 1px 0 10px;
    color: rgb(26, 59, 61);
    font-weight: 800;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.profile-dropdown__logout:hover {
    cursor: pointer;
}
