#modal-content {
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0);;
}

.login-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(192, 128, 8);
    border-radius: 11px;
    padding: 7px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-form__user-container {
    margin-bottom: 7px;
}

.login-form__password-container {
    margin-bottom: 7px;
}

.login-form__input-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
}

.login-form__input {
    border: 0;
}

.demo-button {
    margin-top: 7px;
    border: 0;
    text-decoration: underline;
    color: rgb(192, 128, 8);
    font-size: larger;
    background-color: rgba(0, 0, 0, 0);
}

.demo-button:hover {
    cursor: pointer;
}

.login-button {
    border: 0;
    text-decoration: underline;
    color: rgb(192, 128, 8);
    font-size: larger;
    background-color: rgba(0, 0, 0, 0);
}

.login-button:hover {
    cursor:pointer;
}
